<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js"></script>
  {{!-- <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,400i,700,700i,900,900i" rel="stylesheet"> --}}
  {{!-- <link href="https://fonts.googleapis.com/css?family=Fahkwang:300,400,400i,700,700i" rel="stylesheet"> --}}
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700,700i,900" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>
