<link rel="stylesheet" href="/styles/index.css" media="screen" title="no title" charset="utf-8">

{{!-- <div class="jumbotron">
  <div class="container">
    <h3 class="display-5">Welcome to</h3>
    <h1 class="display-2">Poll Vault</h1>
    <h3>An interactive viewpoint sampling application for engaged viewers, users, and thinkers.</h3>
  </div>
</div> --}}
<div class="titleBox">
  <div class="container">
    <div class="row">
      <div class="col-md-2"><img id="pvImg" src="/images/PoleVaultTransparent.png" height="150" width="150"></div>
      <div class="col-md-8">
        <h1 class="display-1">Poll Vault</h1>
    <h4><i>An interactive viewpoint sampling application for engaged viewers, users, and thinkers.</i></h4>
    <hr>

      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-2">

      <div id="knownUser"></div>

      <div id="unknownUser"></div>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>