<link rel="stylesheet" href="/styles/publish.css" media="screen" title="no title" charset="utf-8">

<div id="publish">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <form>
          <div class="form-group">
            <label for="promptInput">Input Question HTML</label>
            <textarea class="form-control" id="promptInput" rows="5"></textarea>
            {{!-- <div class="row">
              <label for="promptBtn1">Button 1 Text</label>
            </div>
            <div class="row">
              <input class="form-control-sm" type="text" id="promptBtn1">
            </div>
            <div class="row">
              <label for="promptBtn2">Button 2 Text</label>
            </div>
            <div class="row">
              <input class="form-control-sm" type="text" id="promptBtn2">
            </div> --}}

            <div class="row">
              <div class="col-5 text-center">
                <label for="promptBtn1">Button 1 Text</label>
              </div>
              <div class="col-2">
              </div>
              <div class="col-5 text-center">
                <label for="promptBtn2">Button 2 Text</label>
              </div>


              <div class="row">
                <div class="col-5 align-center">
                  <input class="form-control text-center offset-2" type="text" id="promptBtn1">
                </div>
                <div class="col-2">
                </div>
                <div class="col-5 align-center">
                  <input class="form-control text-center offset-3" type="text" id="promptBtn2">
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row text-center">
      <div class="col-2 offset-5" id="submitButton">
        <button id="sendButton" class="btn btn-primary mt-2 mb-2">Send</button>
        <button id="closePollButton" class="btn btn-primary mt-2 mb-2">Close Poll</button>
        <button id="leaveButton" class="btn btn-primary mt-2 mb-2">Leave</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/publish.js"></script>