<link rel="stylesheet" href="/styles/regAdmin.css" media="screen" title="no title" charset="utf-8">

<div class="container">
  <h1 class="text-center" id="pageTitle">Register As Publisher?</h1>
  <h4 class="text-center" id="pageInstr">This link will set a local secret allowing your device to be a publisher.</h4>
  <div class="row">
    <div class="col-md-10 offset-1">

{{!-- Give the user a button to continue --}}
      <div class="text-center">
        <button class="btn btn-primary btn-lg text-center mt-5 mb-3" id="continueBtn" type="submit">Register Me!</button>
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-lg text-center mt-5 mb-3" id="leaveBtn" type="submit">Leave</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/regAdmin.js"></script>