<link rel="stylesheet" href="/styles/register.css" media="screen" title="no title" charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">

<body>

  <div class="container">
    <div class="top">
      <h1 class="text-center" id="pageTitle">{{msg}}</h1>
      <h4 class="text-center" id="pageInstr">Please build your general profile to see your views in relation to peers
        and
        neighbors.</h4>
    </div>

    <div> ======================================================================================================</div>
    <div class="row">
      <div class="col-md-10 offset-1">

        {{!-- Get the user's alias --}}
        <div class="col-md-5 mb-3 mt-5">
          <div class="alias">
            <label for="username">Your Alias</label>
            <div class="input-group">
              <input type="text" class="form-control" id="username" placeholder="Alias" required>
              <div class="invalid-feedback" style="width: 100%;">
                An alias is required.
              </div>
            </div>
          </div>
        </div>
        <hr class="mb-4">

        {{!-- Get the gender --}}
        <div class="col-md-3 mb-3">
          <div class="gender">
            <div class="custom-control custom-radio">
              <input id="genderM" name="gender" type="radio" value="male" class="custom-control-input" required>
              <label class="custom-control-label" for="genderM">Male</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="genderF" name="gender" type="radio" value="female" class="custom-control-input" required>
              <label class="custom-control-label" for="genderF">Female</label>
            </div>
          </div>
        </div>
        <hr class="mb-4">

        {{!-- Get the birth year --}}
        <div class="col-md-3 mb-3">
          <div class="birth">
            <label for="birthYear">Birth Year</label>
            <input type="text" class="form-control" id="birthYear" placeholder="Birth Year" required>
            <div class="invalid-feedback">
              Birth year value is required
            </div>
          </div>
        </div>
        <hr class="mb-4">

        {{!-- Get the residing zip code --}}
        <div class="col-md-3 mb-3">
          <div class="zip">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="Zip Code" required>
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
        <hr class="mb-4">

        {{!-- Get demographic data --}}
        <div class="col-md-5 mb-5">
          <div class="demo">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="demographic" id="qual1">
              <label class="custom-control-label" for="qual1">Single...</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="demographic" id="qual2">
              <label class="custom-control-label" for="qual2">Married...</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="demographic" id="qual3">
              <label class="custom-control-label" for="qual3">Married with children...</label>
            </div>
          </div>
        </div>

        <hr class="mb-4">

        {{!-- Give the user a button to continue --}}
        <div class="text-center">
          <button class="btn btn-dark btn-lg text-center mb-3" id="continueBtn" type="submit">Continue</button>
        </div>
        </form>
      </div>
    </div>
  </div>

</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/register.js"></script>