<link rel="stylesheet" href="/styles/subscribe.css" media="screen" title="no title" charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">

<body>
  <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-8 offset-2 mb-4">
          <div class="top">
            <h2>{{msg}}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 offset-3 border border-dark rounded mb-5" id="promptArea"></div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="col-2 offset-5" id="exitButton">
          <button id="leaveButton" class="btn btn-dark float-right mt-5">Leave</button>
        </div>        
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/subscribe.js"></script>