html {
  height: 100%;
}

body {
  /* font-family: 'Barlow Condensed', sans-serif; */
  /* font-family: 'Fahkwang', sans-serif; */
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom right, white, yellow);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.list-group-item {
  line-height: 2.5;
}

#promptArea {
  min-height: 250px;
}

#promptText {
  margin-bottom: 7px;
  color: red;
}

#promptB1 {
  margin-bottom: 7px;
  /* color: blue; */
}

#promptB2 {
  margin-bottom: 7px;
  /* color: green; */
}